snap:
  port: 8000

cors-approved:
  * "http://localhost"
  * "http://localhost:8000"
  * "http://smashtech.verigames.org"
  * "http://smashtech.voidalpha.com"
  * "http://monsterproof.voidalpha.com"
  * "http://monsterproof.verigames.org"
  * "http://monsterproof.verigames.com"
  * "https://smashtech.verigames.org"
  * "https://smashtech.voidalpha.com"
  * "https://monsterproof.voidalpha.com"
  * "https://monsterproof.verigames.org"
  * "https://monsterproof.verigames.com"

dev-mode: true
typecheck: true
